/*Compound css*/
:root{
    --main-color: #00b655;
    --sec-color: #0a0618;
    --ter-color: #f1f1f1;
}

ol, ul {
    list-style: none;
}

nav, header, main, footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--sec-color);
}

#about_me , #projects, #contacts{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Selectors*/

h1 {
    margin-left: 5%;
}

a:link{
    text-decoration: none;
}

/*Header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: auto;
}

.img_lucas{
    margin: auto;
    padding: 5%;
    align-self: center;
    width: 40%;
}

.subtitle_about_me{
    font-size: 150%;
    color: var(--main-color);
    padding: 2% 10%;
    text-align: start;
}

/*Contact Section*/

.ico_social_media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icons{
    margin: 2%;
}

/*Skills Section*/

#skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    justify-content: center;
    margin: 2%;
}

/*Projects Section*/

.titles{
    font-size: 200%;
    color: var(--ter-color);
}

.subtitles{
    margin-bottom: 2%;
    font-size: 150%;
    color: var(--main-color);
    padding: 1%;
}

.subtitles:hover{
    color: grey;
}

/*Projects Section*/

.imgs_projects{
    margin-bottom: 1%;
    width: 80%;
    align-self: center;
    border-radius: 2%;
}