/*Compound css*/

ol, ul {
    list-style: none;
}

nav, header, main, footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#about_me , #projects{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
}

/*Selectors*/

h1 {
    margin-left: 5%;
}

a:link{
    text-decoration: none;
}

/*Header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: auto;
}

header > a{
    display: flex;
}

.img_lucas{
    margin: auto;
    padding: 5%;
    align-self: center;
    width: 40%;
}

/*Contact Section*/

#contatos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
}

.ico_social_media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icons{
    margin: 2%;
}

/*Skills Section*/

#skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    justify-content: center;
    margin: 2%;
}

/*Global*/

.titles{
    font-size: 200%;
    color: #fff;
}

.subtitles{
    margin-bottom: 2%;
    font-size: 150%;
    color: #00D061;
    padding: 1%;
    text-align: justify;
}

.subtitles:hover{
    color: grey;
}

/*Projects Section*/

.imgs_projects{
    margin-bottom: 1%;
    width: 80%;
    align-self: center;
    border-radius: 2%;
}