/*Compound css*/
:root{
    --main-color: #C1FF00;
    --sec-color: #131313;
    --ter-color: #f1f1f1;
    --four-color: rgb(128, 128, 128);
    --hover-main-color: #4bb102;
}

ol, ul {
    list-style: none;
}

nav, header, main, footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--sec-color);
}

#about_me , #projects, #contacts{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Selectors*/

h1 {
    margin-left: 20%;
}

a:link{
    text-decoration: none;
}

/*Header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: auto;
}

.img_lucas{
    margin: auto;
    padding: 5%;
    align-self: center;
    width: 40%;
}

.subtitle_about_me{
    font-size: 150%;
    color: var(--ter-color);
    padding: 2% 10%;
    text-align: start;
}

/*Contact Section*/

.ico_social_media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icons{
    margin: 2%;
}

/*Skills Section*/

#skills{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

#skills div{
    color: var(--ter-color);
}

#skills svg{
    margin: 20px;
}

/*Projects Section*/

.titles{
    font-size: 200%;
    color: var(--four-color);
}

.subtitles{
    margin-bottom: 2%;
    font-size: 150%;
    color: var(--main-color);
    padding: 1%;
}

.subtitles:hover{
    color: var(--hover-main-color);
}

/*Projects Section*/

.imgs_projects{
    margin-bottom: 10%;
    width: 80%;
    align-self: center;
    border-radius: 0.5rem;
}